/* Bootstrap Containers */
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1183px;
    margin: 0 auto;
  }

  .editor-image {
    width: 414px;
  }
}

@media screen and (min-width: 1200px) and (max-width:1400px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }


  .editor-section {
    display: flex;
    margin-bottom: 4rem;
    justify-content: space-between;

  }

  .api-editor-img {
    width: 100%;
    border-radius: 10px;
  }

  .editor-image {
    width: 340px;
  }

  .editor-flex {

    padding: 11px 0px;

  }

  .li-circle {

    font-size: 11px;

  }

  .li-author {
    font-size: 11px;
  }

  .more-padd {
    padding: 0px 7px;
  }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }


  .sub-nav-li {
    font-size: 13px;
  }

  .section-detail-title {

    font-size: 29.5px;

  }

  .li-circle {
    color: #798692;
    font-size: 10px;
  }

  .li-author {
    font-size: 10px;
  }

  .editor-image {
    width: 319px;
  }

  .api-editor-img {
    width: 100%;
  }

  .editor-section-three {

    width: 290px;
  }

  .li-circle::after {

    margin: 4px 8px;
  }

  .side-ad {
    width: 100%;
  }

  .editor-section-desc {
    font-size: 18px;

    margin-bottom: 14px;
  }

  .imgCls-section-one {
    border-radius: 10px;
    width: 114px;
    height: 97px;
  }

  .vcinvestment {
    left: 15px;

  }

  .social-main {

    gap: 20px;
  }

  .editor-section-three {

    margin-left: 0px;
  }
  .card-content-height {
    height: 82px;
}
.tooltip {
  top: 3px;
  left: 0px;
}
  .signup-paraone {
    font-size: 14px;
    color: #ffffffd8;
    font-weight: 400;
  }

  .up-para {
    font-size: 11px;
    width: 168px;

  }

  .ms-para {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width:992px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }

  .side-ad {
    width: 100%
  }

  .section-detail-heading {
    font-size: 12px;
    margin-bottom: 0px;
  }

  .section-detail-title {

    font-size: 20px;
    line-height: 27px;
    margin-bottom: 8px;
  }

  .section-detail-desc {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  .section-two {
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-wrap {
    width: 47%;
  }

  .resp-div-card {
    margin-bottom: 20px;
  }

  .sub-nav-li {
    padding: 18px 8px;
    font-size: 10px;
  }

  .side-ad {
    display: none;
  }

  .sidead-para {
    display: none;
  }

  .editor-width {
    width: 100%;
  }

  .editor-border-right {
    border-style: none;
  }
  .premium-text-editor {
    bottom: 24px;
    right: 3px;
}

  .more-imgcls {
    width: 154px;
  }
  .tooltip {
    left: 0px;
    top: 3px;
}
  .ms-para {
    font-size: 12px;
    width: 100%;
    padding: 2px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 13px;
  }

  .social-main {
    gap: 25px;
  }

  /* .infographic-section{
  width: 100%;
} */
  .social-infographic-img {
    width: auto;
  }

  .cara-card {
    padding: 0px;

  }

  .card-img-cls {
    height: 105px;

  }
  .card-content-height{
    height: 90px;
  }
  

  .signup-main {
    padding: 30px 2px;
    display: block;
    text-align: center;
  }
  .signup-field {
    width: 100%;
    max-width: 100%;
    margin: 28px 0px
}
.signup-btnmain {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

}

@media screen and (min-width: 576px) and (max-width:768px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }

  .advertisement-bg-top {
    display: none;
  }

  .advertisement-bg {
    display: none;
  }

  .res-container {
    max-width: 100% !important;
  }

  .nav-border {
    border-bottom: 1px solid #e3e3e3;
  }

  .nav-container {
    position: fixed;
    width: 100%;
    z-index: 8;
    background-color: #ffff;
    top: 0;
    height: auto;
    box-shadow: 0px 5px 10px #00000014;
    padding: 0px 0px
  }
.ham-menu{
  display: inline-block;
    font-size: 25px;
    padding-right: 15px;
    color: black;
    padding-top: 2px;
}

  .close-btn {
    width: 56px;
    height: 24px;
    color: black;
  }

  .deskSub {
    display: none;
  }

  .res-logo-img {
    width: 85px;
    height: 26px;
    margin: 0px 0px;
  }

  .nav-logo-vccircle {
    width: 20vw;
    height: 25px;
    margin: 0px 9px;
  }

  .res-navbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .res-nav-subscribe-ul {
    display: block;
  }

  .nav-list-none {
    display: none;
  }

  .hamburger-menu {
    font-size: 43px;
    display: flex;
    /* padding: 4px 0px; */
    width: 100%;
    align-items: center;
  }

  .advertisement-bg-top {
    display: none;
  }

  .respons_nav {
    display: flex;
  }

  .nav-ul {
    display: none;
  }

  .menu-nav-img {
  width: auto;
  height: auto;
  }

  .sub-nav {
    display: none;
  }

  .res-subnav {
    position: absolute;
    display: block;
    text-align: left;
    top: 0%;
    background-color: white;
    width: 100%;
   
  }

  .txt_cntr {
    text-align: center;
    display: block;
    box-shadow: 0px 5px 10px #00000014;
    padding: 5px 0px;
  }

  .flt-right {
    float: right;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .sub-ul-nav {
    display: block;
    animation: fadeIn linear 1s forwards;
    height: calc(100vh - 38px);
    overflow: scroll;
  }

  .sub-nav-li {
    padding: 13px 50px;
    margin-left: 0;
    font-size: 13px;
    color: #222222;
    font-weight: 600;
  }

  .sub-nav-li-hide {
    display: block;
    padding: 1px 3px;
    display: flex;
  }

  .para-sub {
    font-size: 14px;
    /* padding: 11px 1px; */
  }

  .hide-menu {
    display: block;
  }

  .sub-nav-li-hide-home {
    display: block;
    font-size: 13px;
    color: #222222;
    font-weight: 600;
  }

  .sub-nav-li-custom {
    display: none;
  }

  .extra-menu {
    display: block;
    font-size: 13px;
    color: #222222;
    font-weight: 600;
  }

  .section-one {
    flex-direction: column-reverse;
    margin-top: 102px;
  }

  .section-two {
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px
  }

  .card-wrap {
    width: 47%;
    padding: 5px 1px;
  }

  .side-ad {
    display: none;
  }

  .sidead-para {
    display: none;
  }

  .editor-width {
    width: 100%;
  }

  .editor-image {
    width: 100%
  }

  .api-editor-img {
    width: 100%;
  }

  .editor-section {
    flex-wrap: wrap;
  }

  .editor-border-right {
    border-style: none;
  }

  .up-re-headers {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .view-more-res {
    display: flex;
    padding: 10px 2px;
  }

  .res-headerone {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    font-weight: 800;
  }

  .res-headertwo {
    font-size: 14px;
    color: #222222;
    font-weight: 600;
  }

  .angle-right {
    width: auto;
    margin-top: 1px;
  }

  .card-layout {
    display: flex;
  }

  .card-text {

    padding: 2px 7px;

  }

  .card-layout {
    margin-top: 10px;
    border: 1px solid#0000001A;
    padding: 6px;
    border-radius: 12px;
    box-shadow: 0px 5px 10px #00000014;
  }

  /* .img-card {
  width: 37%;
} */
  .upcoming-img-res {
    width: 100%;
  }

  .tv-details {
    padding: 0px 3px;
  }

  .re-headerone {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    font-weight: 800;
  }

  .re-headertwo {
    font-size: 14px;
    color: #222222;
    font-weight: 600;
  }

  .card-text-title {
    font-size: 12px;
    color: #096ffa;
    font-weight: 800;
  }

  .card-text-desc {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    padding: 17px 0px;
  }

  .card-text-author {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
  }

  .li-circle {
    font-size: 11px;
  }

  .signup-main {
    flex-wrap: wrap;
  }

  .tv-section {
    display: block;
  }

  .vcc_video {
    width: 100%
  }

  .tv-details {
    padding: 0px 0px;
    width: 100%;
  }

  .social-main {
    justify-content: center;
    flex-wrap: wrap
  }

  .vcinvestment {
    left: 5px;
  }
  .signup-main {
    padding: 30px 2px;
    display: block;
    text-align: center;
  }
  .signup-field {
    width: 100%;
    max-width: 100%;
    margin: 28px 0px
}
.signup-btnmain {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

  .twitter-section {
    position: relative;
    border-style: none;
    padding: 0px;
  }

  .infographic-section {
    margin-top: 20px;
  }

  .social-infographic-img {
    width: 100%;
  }

  .up-events-none {
    display: none;
  }

  .res-upcomingevents {
    display: block;
  }

  .ms-para {
    width: 100%;
  }

  .wi {
    width: 100%;
  }

  .stes_flx {
    gap: 20px;
  }

  /* .tooltip .tooltiptext {
 width: 100%;
} */
  .footer-ul-list {

    flex-wrap: wrap;
  }
}

@media screen and (min-width:320px) and (max-width:576px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .advertisement-bg-top {
    display: none;
  }

  .advertisement-bg {
    display: none;
  }


  .res-container {
    max-width: 100% !important;
    padding: 0 !important;
  }

  .nav-border {
    border-bottom: 1px solid #e3e3e3;
  }
  .ham-menu{
    display: inline-block;
      font-size: 25px;
      padding-right: 15px;
      color: black;
      padding-top: 2px;
  }

  .nav-container {
    position: fixed;
    width: 100%;
    z-index: 8;
    background-color: #ffff;
    top: 0;
    height: auto;
    box-shadow: 0px 5px 10px #00000014;
    padding: 0px 0px
  }

  .close-btn {
    width: 56px;
    height: 24px;
    color: black;
  }

  .deskSub {
    display: none;
  }

  .res-logo-img {
    width: 98px;
    height: 28px;
  }

  .nav-logo-vccircle {
    width: 20vw;
    height: 25px;
    margin: 0px 9px;
  }

  .res-navbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .res-nav-subscribe-ul {
    display: block;
  }

  .nav-list-none {
    display: none;
  }

  .hamburger-menu {
    font-size: 33px;
    display: flex;
    /* margin: 0px 14px; */
    width: 100%;
    align-items: center;
  }

  .advertisement-bg-top {
    display: none;
  }

  .respons_nav {
    display: flex;
  }

  .nav-ul {
    display: none;
  }

  .menu-nav-img {
    padding: 0rem 0rem;
    /* height: 1.9vh; */
  }

  .sub-nav {
    display: none;
  }

  .res-subnav {
    position: absolute;
    display: block;
    width: 96%;
    text-align: left;
    top: 0%;
    background-color: white;
    width: 100%;
  }

  .txt_cntr {
    text-align: center;
    display: block;
    box-shadow: 0px 5px 10px #00000014;
    padding: 3px 0px;
  }

  .flt-right {
    float: right;
    margin-top: 1px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .sub-ul-nav {
    display: block;
    animation: fadeIn linear 1s forwards;
    height: 100vh;
    overflow: scroll;
    
  }

  .sub-nav-li {
    padding: 11.5px 50px;
    margin-left: 0;
    font-size: 13px;
    color: #222222;
    font-weight: 600;
  }

  .sub-nav-li-hide {
    display: block;
    padding: 7px 3px;
    display: flex;
  }

  .para-sub {
    font-size: 15px;
    padding: 0px 1px;
  }

  .hide-menu {
    display: block;
    color: #f83600
  }

  .sub-nav-li-hide-home {
    display: block;
    font-size: 13px;
    color: #222222;
    font-weight: 600;
  }

  .sub-nav-li-custom {
    display: none;
  }

  .extra-menu {
    display: block;
    font-size: 13px;
    color: #222222;
    font-weight: 600;
  }

  .section-one {
    flex-direction: column-reverse;
    margin-top: 54px;
  }

  .section-detail-title {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 7px;
  }

  .section-detail-desc {
    font-size: 15px;
    line-height: 25px;

  }

  .section-detail-button {
    display: none;
  }
  .section-detail-heading {
    margin-top: 9px;
}

  .section-two {
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-wrap {
    width: 100%;
    padding: 5px 1px;
  }

  .resp-div-card {
    display: flex;
  }

  .resp-card-img {
    max-width: 166px;
  }
.line-bottom{
  display: none;
}
  .card-desc-section-one {
    margin-bottom: 9px;
    font-size: 12px;
    -webkit-line-clamp: 2;
    line-height: 20px;
  }
  .author-manu-flx {
    display: flex;
    position: absolute;
    bottom: 8px;
}

  .resp-details-card {
    padding: 0px 7px;
  }

  .re-editor-sidead {
    display: none;
  }

  .editor-section-three {
    text-align: center;
    margin-top: 28px;
    margin-left: 0px;
  }

  .editor-section-heading {
    margin-top: 4rem;
    font-size: 20px;
  }

  .side-ad {
    display: block;
    width: 100%;
  }

  .sidead-para {
    display: none;
  }

  .editor-width {
    width: 100%;
  }

  .editor-image {
    width: 100%
  }

  .api-editor-img {
    width: 100%;
  }

  .editor-section {
    flex-wrap: wrap;
  }

  .editor-border-right {
    border-style: none;
  }
  .editor-section-desc {
    margin-bottom: 6px;
    
}
.editor-flex {
  padding: 10px 0px;
  
}
.editor-section-one {
  padding: 12px 0px;
}
.editor-section-one{
  border-bottom: 1px solid #e3e3e3;
}
  .infographic-text-para {
    font-size: 20px;
  }

  .carousel-heading-one {
    font-size: 15px;
  }

  .carousel-heading-two {
    font-size: 12px;

  }

  .up-re-headers {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .view-more-res {
    display: flex;
    padding: 10px 2px;
  }

  .res-headerone {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    font-weight: 800;
  }

  .res-headertwo {
    font-size: 14px;
    color: #222222;
    font-weight: 600;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    display: none !important;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    display: none !important;
  }

  .angle-right {
    width: auto;
    margin-top: 1px;
  }

  .card-layout {
    display: flex;
  }

  .card-text {

    padding: 2px 7px;

  }

  .card-title {
    margin-bottom: 11px;
  }

  .card-desc {
    margin-bottom: 11px;
  }

  .card-layout {
    margin-top: 10px;
    border: 1px solid#0000001A;
    padding: 6px;
    border-radius: 12px;
    box-shadow: 0px 5px 10px #00000014;
  }


  .inp-field {
    width: 100%;
  }

  .tv-details {
    padding: 0px 3px;
  }

  .re-headerone {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    font-weight: 800;
  }

  .re-headertwo {
    font-size: 14px;
    color: #222222;
    font-weight: 600;
  }

  .card-text-title {
    font-size: 12px;
    color: #096ffa;
    font-weight: 800;
  }

  .card-text-desc {
    font-size: 13px;
    font-weight: 600;
    color: #000000;
    padding: 6px 0px;
  }

  .card-text-author {
    font-size: 11px;
    font-weight: 400;
    color: #333333;
  }

  .li-circle {
    font-size: 8px;
  }

  .li-author {
    font-size: 8px;
  }

  .li-circle::after {
    margin: 2px 4px;
  }

  .tooltip {
    top: 0px;
  }

  .signup-main {
    padding: 30px 25px;
    display: block;
    text-align: center;
  }
  .signup-field {
    width: 100%;
    max-width: 100%;
    margin: 28px 0px
}
.signup-btnmain {
  text-align: center;
  width: 100%;
  max-width: 100%;
}
.signup-btn{
  width: 100%;
}

  .tv-section {
    display: block;
  }

  .vcc_video {
    width: 100%
  }

  .vcpre-headingone {
    font-size: 20px;
  }

  .tv-details {
    padding: 0px 0px;
    width: 100%;
  }

  .social-main {
    justify-content: center;
    flex-wrap: wrap
  }

  .vcinvestment {
    bottom: 6px;
    width: 100%;
    left: 1px;


  }

  .twitter-section {
    border-style: none;
    padding: 0px;
  }

  .infographic-section {
    margin-top: 20px;
  }

  .social-infographic-img {
    width: 100%;
  }

  .res-twitter {
    width: 100%;
  }

  .up-events-none {
    display: none;
  }

  .res-upcomingevents {
    display: block;
  }

  .signup-paraone {
    font-size: 15px;

  }

  .ms-para {
    width: 100%;
    font-size: 12px;
    padding: 3px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tv-title {
    font-size: 20px;
  }

  .tv-para {
    font-size: 15px;

  }

  .tv-heading-one {
    font-size: 18px;
  }

  .tv-heading-two {
    font-size: 12px;
  }

  .wi {
    width: 100%;
  }
  .ms-main-heading {
    font-size: 15px;
  }
  .stes_flx {
    gap: 20px;
  }
  .footer-copyright {
    margin-top: 35px;
}

  .footer-ul-list {

    flex-wrap: wrap;
  }
}