@media (max-width: 480px) {

    .adskel {
        display: none;
    }

    .section-detail {
        flex-direction: column-reverse;
    }

    /* .sec-img{
        width: 100%;
    } */
    .skel-card-img {
        width: 480px;
    }

    .card-img {
        width: 100%;
        height: 117px;
    }

    .card-title-skel {
        width: 100%;
    }

    .img {
        width: 100%;
        height: 220px
    }

    .sub-sec-one {
        margin-top: 20px;
        width: 100%;
    }

    .title {
        width: 100% !important;
    }

    .desc {
        width: 100%;
    }

    .cards {
        margin-top: 40px;
        display: block;
    }

    .resp-card {
        display: flex;
        margin-bottom: 20px;
    }

    /* .sub-sec-one{
        padding: 3px 5px ;
    } */
    .resp-card-detail {
        padding: 0px 3px;
    }

    .card-heading {
        margin-top: 0px;
    }

    .card-title-skel {
        width: 414px;
    }

}





@media (max-width: 768px) {
    /* .container {
        width: auto;
        margin: 0px 4px;
    } */

    .adskel {
        display: none;
    }

    .section-detail {
        flex-direction: column-reverse;
    }

    .sec-img {
        width: 100%;
        margin-top: 20px
    }

    /* .img {
        width: 100%;
    } */

    .sub-sec-one {
        margin-top: 20px;
        width: 100%;
    }

    .title {
        width: 100%;
    }

    .cards {
        margin-top: 40px;
        display: block;
    }

    .resp-card {
        display: flex;
        margin-bottom: 20px;
    }

    /* .sub-sec-one{
        padding: 3px 5px ;
    } */
    .resp-card-detail {
        padding: 0px 3px;
    }

    .card-heading {
        margin-top: 0px;
    }

    .card-title-skel {
        width: 100%;
    }

}

@media (max-width:1366px) {
    .container {
        width: auto;
        padding: 0px 10px;
    }

    .card-img {
        width: 265px;
        height: 186px;
        border-radius: 10px;
        animation: skel-load 1s linear infinite alternate;
    }
}