@media screen and (min-width: 1400px) {
    .container {
      max-width: 1183px;
      margin: 0 auto;
    }
   
  }
  @media screen and (min-width: 1200px) and (max-width:1400px) {
    .container {
     max-width: 1140px;
      margin: 0 auto;
    }
  
  
   
  }
  @media screen and (min-width: 992px) and (max-width:1200px) {
    .container {
      max-width: 960px;
      margin: 0 auto;
    }
    .cards {
        display: flex;
        gap: 20px;
    }
    .skel-card-img {
        width: 225px;
    }
  
    
  }
  @media screen and (min-width: 768px) and (max-width:992px){
    .container {
      max-width: 720px;
      margin: 0 auto;
    }
    .cards {
        display: flex;
        
        flex-wrap: wrap;
    }
    .skel-card-img {
         width: 270px; 
    }
    .img {
        height: 285px;
    }
    .desc {
        width: 335px;
    }
    .resp-card {
        margin-top: 20px;
    }
  }
  @media screen and (min-width: 576px) and (max-width:768px){
    .container {
      max-width: 540px;
      margin: 0 auto;
    }
    .section-detail {
        display: flex;
        flex-direction: column-reverse;
    }
    .sub-sec-one{
        width: 100%;
    }
    .heading {
        margin-top: 20px;
    }
    .skel-card-img {
        width: 266px;
    }
    .cards {
        gap: 8px;
        flex-wrap: wrap;
    }
  }
  @media screen and (min-width:320px) and (max-width:576px){

    .container{
      width: 100%;
      margin: 0 auto;
      padding-left: 10px;
      padding-right: 10px;
    }

    .section-detail {
        display: flex;
        flex-direction: column-reverse;
    }
    .sub-sec-one{
        width: 100%;
    }
    .heading {
        margin-top: 20px;
    }
    .desc {
      width: 283px;
    }
    .skel-card-img {
      width: 151px
    }
    .img {
      height: 323px;
    }
    .resp-card {
        display: flex;
    }
    .card-title-skel {
      width: 133px
    }
    .cards {
        gap: 8px;
        flex-wrap: wrap;
    }
    .card-heading {
        margin-top: 0px;
    }
    .card-date {
      width: 75px
    }
    .card-author-name{
      width: 75px
    }
    .resp-card-detail {
        padding: 3px 5px;
    }
    .btn-skel {
        display: none;
    }
  
   
  }